<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="true">

	<description>权限管理</description>
	
	
	<bean id="authoritySecurityHibernateDao" class="com.bplow.todo.authSecurity.dao.AuthoritySecurityHibernateDao"/>
    <bean id="authSecurityJdbcDao" class="com.bplow.todo.authSecurity.dao.AuthoritySecurityJdbcDao" parent="baseJdbcDao">
        <property name="mutableAclService" ref="aclService"/>
        <property name="platformTransactionManager" ref="transactionManager"/>
	</bean>
	<bean id="authSecurity" class="com.bplow.todo.authSecurity.service.AuthoritySecurityService" >	
	</bean>
	
	
	

</beans>